<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/faviconT.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <title>TwitterBoy</title>
</head>

<body>

    <div class="background">
        <div class="heading">
            <h1 class="heading_text">TwitterBoy</h1>
        </div>
        <div class="msg_error" style="font-size: 23px;color:white;">
            <h2>{{msg}}</h2>
        </div>
        <div class="search_from">
            <form class="form-inline my-2 my-lg-0" method="POST" action="/result_analysis">
                <input class="form-control mr-sm-2" type="search" placeholder="Type Twitter Handle" aria-label="Search"
                    name="twitter_handle_typed">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="content_form">
            <p class="text">Type the exact twitter handle of a person to get the sentiments of his/her 100 recent
                tweets.
            </p>
        </div>
    </div>
    <div class="content">
        <p class="text">'TwitterBoy' is Deep Learning based web application through which we can easily check the
            sentiments of tweets of a particular twitter handle.
            This will allow us to get an idea of which tweet will have positive or negative impact.
        </p><br>
        <p>A deep learning technique ' Natural Language Processing ' has been used to train a model with a large dataset
            of approx 1 Lac of tweets to ensure the correct
            predictions.
        </p>
    </div>
    <hr>
    <div class="main_result" style="text-align: center;width: 100%;margin-left: 20px;">
        <div class="heading_tweet">
            <h1 class="heading_text_tweets">{{handle}}</h1>
        </div>
        <hr>
        {% for tweets,sentiment in output_result %}
        <p>{{ tweets }}</p>
        <h4>{{ sentiment}}</h4>
        <hr>
        {% endfor %}
    </div>
    <div class="output">
        <h1 class="heading_text_tweets">{{counter_positive}}</h1>
        <h1 class="heading_text_tweets">{{counter_negative}}</h1>
    </div>












    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>